<!DOCTYPE html>
<html ng-app = "teamViewer">
<head lang="en">
	<meta charset="UTF-8">
	<title>Team Viewer</title>
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="Style/app.css">

	<script type="text/javascript" src="members.json"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="https://cdn.jsdelivr.net/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="TeamController as team" layout="column">


<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Meet the Nielsens</span>
        </h2>
        <md-button aria-label="Go Back">
          Go Back
        </md-button>
        <span flex></span>
        <md-button class="md-raised" aria-label="Search">
          Search
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>


<!-- 

			<md-toolbar md-scroll-shrink="" class="md-hue-1" ng-show="!showSearch">
        <div class="md-toolbar-tools">
        	
          <span flex><h1>Meet the Nielsens</h1></span>

          <md-button class="md-raised" ng-click="showSearch = !showSearch" aria-label="Back">Search
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>

          <md-input-container >
              <md-select ng-model="filter.model" ng-change="groupByProperty()">
                <md-option ng-repeat="property in filterProperties" value="{{property.actualName}}">
                  {{property.displayName}}
                </md-option>
              </md-select>
           </md-input-container>

        </div>
  	</md-toolbar>


  	<md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">

          <md-button class="md-raised" ng-click="showSearch = !showSearch" aria-label="Back">Back
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          <h2 flex="10">
          </h2>

          <md-input-container class="md-block" flex-gt-sm>
            <label>&nbsp;</label>
            <input ng-model="search.name" placeholder="Search By Name">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>

        </div>      
  	</md-toolbar> -->


	<div layout="column" class="relative" layout-fill role="main" flex>
	    	
	      	<!-- <md-content flex> -->
	  			<div ng-cloak flex style="overflow:auto">
	    	    	
	  	      		<md-content class="md-padding mainHolder" layout="column" style="overflow : auto">
	  	      			
  	      				<div ng-repeat="group in groups">

  	      					<h3 class="md-headline tv-subheader head-bg"> {{group.title}} </h3>
  			      			<md-grid-list
  			      			        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
  			      			        md-row-height-gt-md="1:1" md-row-height="4:3"
  			      			        md-gutter="8px" md-gutter-gt-sm="4px" class="gridList">

  			      			        <div class="module-container" ng-repeat="member in group.members | filter:search">
				
								      <md-card>
								        

<!-- <a href="#" alt="" title="" tabindex="0" ng-click="showAdvanced($event, member, group.members)">
												<div class="image">
													<div class="img">
														<img src="images/dummy_female1.png"  title="" alt="Loading Image..">
													</div>
												</div>
											</a>
 -->

								        <md-card-title-media>
								        <a href="#" alt="" title="" tabindex="0" ng-click="showAdvanced($event, member, group.members)">
									        <div class="md-media-lg card-media imageHolder">
									        	<img class="memberImage" ng-src="images/dummy_female1.png">
									        </div>
									        </a>
								        </md-card-title-media>
								        <md-divider></md-divider>
								        <md-card-title>
								          <md-card-title-text flex style="overflow:hidden">
								            <span class="md-headline">Name:{{member.name}}</span>
								            <span class="md-subhead">Designation:Sample	</span>
											<div class="toHide" flex>
											<span class="desc-content" data-ng-bind-html="member.description"></span>
								            
								            </div>
								          </md-card-title-text>          
								        </md-card-title>
								        <!-- <md-card-actions layout="row" layout-align="center">
								          <md-button>Info</md-button>
								        </md-card-actions> -->
								      </md-card>
								      
								    
									</div>

  			      			</md-grid-list>
  			      		</div>
	  		      		
	  	        	</md-content>
	  		 
	  			</div>
	      	<!-- </md-content> -->
	</div>

</body>
</html>