@font-face {
font-family: pacifico	;
src: url('fonts/pacifico/Pacifico.ttf')  format('truetype');
}

html, body {

	height: 100%;
	width: 100%;
}
header {
	height: 70px;
	position: relative;
	
	background-color: #1a237e;
	padding-top: 1px;
	padding-left: 20px;
	vertical-align: center; 
}

/*.md-toolbar-tools h1,.md-toolbar-tools h2 {
	color: #fff;
	font-size: 1.5em;
	font-family: pacifico;
}

.tv-subheader{
	color: rgb(26, 35, 126);
}

md-input-container .md-errors-spacer {
  float: right;
  min-height: 1px;
  min-width: 1px;
}

.md-toolbar-tools .md-button{
	min-width: 15px;
	line-height: 0px;
}

.md-toolbar-tools .md-button ng-md-icon svg {
	fill: white;
}
*/
/****************** Developer : Surabhi ******************/

md-content.md-padding.layout-column {
    padding: 0px;

}

.dialogue-img{
	padding: 0px 10px;
    height: 300px;
    width: 700px;
}

.layout-column{
	background-color: #f6f6f6 !important;
}

.md-select-value .md-text {
    font-size: 16px;
}

/*md-toolbar *, md-toolbar *:before, md-toolbar *:after {
    border: 0px !important;
}
*/
.md-select-menu-container {
    left: 1139px !important;
    top: 48px !important;
}

.head-bg{
	background: #1a237e; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: #fff;
	height: 36px;
  padding: 4px 25px 0;
	width: 100%;
}

/* Making 'rgba(255,255,255,0.87)' as constant color for search and select values */

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value, md-input-container.md-input-theme .md-input {
	color: rgba(255,255,255,0.87) !important;
}

.module-container {
    height: auto;
    margin-bottom: 1%;
    margin-left: 1%;
    min-width: 200px;
    margin-bottom: 40px;
    margin-left: 2%;
    width:10%;
}

.module-container:focus, .module-container:hover {
    box-shadow: 0 0 1px 1px #999;
    outline: 0;
}


md-chips.md-default-theme .md-chip, md-chips .md-chip {
    background-color: rgb(26,35,126);
    color: rgba(255,255,255,0.87);
}


.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; 
}

md-card{
  margin: 2px;
}

md-card md-card-title {
    padding: 10px 10px 4px;
  }

  .imageHolder
  {

  }

  .memberImage{
    /*padding-top: 10px;
    padding-bottom: 15px;*/
  }

  .gridList
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .toHide
  {
    display:none;
  }

  .imageHyperLink{
    opacity: 1;
    transition:0.2s ease all; 
  }

#test
{
  display:flex;
  flex-wrap:nowrap;
  align-items: center;
}
/*
  md-input-container .md-input {
    width: 100%;
}*/